[submodule "rooutil"]
	path = rooutil
	url = git@github.com:sgnoohc/rooutil.git
[submodule "WWW_CORE"]
	path = WWW_CORE
	url = git@github.com:sgnoohc/WWW_CORE.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:sgnoohc/scripts.git
[submodule "plottery"]
	path = plottery
	url = git@github.com:aminnj/plottery.git
